.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

.title-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.title-text {
  font-size: 100px;
  text-align: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
    color: green;
    font-size: 100px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { font-size: 40px; }
    50% { font-size: 48px;}
    100% { font-size: 40px; }
}

.open-menu {
  top: 0px;
  left: 0%;
  height: 100%;
  animation: growMenu .5s linear;
  z-index: 100
}

.start-menu {
  top: 0px;
  left: -30%;
}

.default-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  height: 100%;
  background: white;
  border-right: 1px solid black;
}



.close-menu {
  top: 0px;
  left: -30%;
  height: 100%;
  animation: shrinkMenu .5s linear;
}

@keyframes growMenu {
  0% { left: -30% }
  100% { left: 0%}
}

@keyframes shrinkMenu {
  0% { left: 0% }
  100% { left: -30%}
}


.menu-icon {
  opacity: 1;
  font-size: 30px;
  cursor: pointer;
}

.menu-icon:hover {
  opacity: .7;
  z-index: 10
}

.flex-row {
  display: flex;
  flex-direction: row;
}
