@font-face {
  font-family: 'MissDaisy';
  src: url('assets/MissDaisy.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Quantify";
  src: url('assets/Quantify.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
